<section class="container" id="about-us">
  <div class="about-us">
    <div class="about-us-text-cont">
      <h2 class="about-us-title">YachtJet fleet is here to take you on the ultimate adventure</h2>
      <ul class="about-us-list">
        <li class="about-us-items">
          <p class="about-us-first-text">
            From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of
            luxury and functionality.
          </p>
        </li>

        <li class="about-us-items">
          <p class="about-us-second-text">
            Take a look at our selection below and choose the yacht that matches your needs and preferences.No matter which
            yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable. Book now and get
            ready for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
    </div>
    <div class="about-us-img">
      <picture>
        <source
          srcset="/img/about-us/about-us-img-desktop-1440.jpg 1x, /img/about-us/about-us-img-desktop-1440@2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/about-us/about-us-img-desktop-1280.jpg 1x, /img/about-us/about-us-img-desktop-1280@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/img/about-us/about-us-img-tablet.jpg 1x, /img/about-us/about-us-img-tablet@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/about-us/about-us-img-mobile.jpg 1x, /img/about-us/about-us-img-mobile@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img class="img-main" src="/img/about-us/about-us-img-mobile.jpg" alt="foto-yacht" />
      </picture>
    </div>
  </div>
</section>
