<section class="advantages">
    <div class="container">
        <h2 class="advantages-title" hidden>Advantages</h2>
        <div class="advantages-content">
            <ul class="advantages-content-list">
                <li class="advantages-content-item">
                    <div class="advantages-number">
                        01
                    </div>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-content-item">
                    <div class="advantages-number">
                        02
                    </div>
                    <p class="advantages-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-content-item">
                    <div class="advantages-number">
                        03
                    </div>
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and
                        sunsets
                        from the water</p>
                </li>
                <li class="advantages-content-item">
                    <div class="advantages-number">
                        04
                    </div>
                    <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the
                        outdoor atmosphere.</p>
                </li>
            </ul>
        </div>
        <div class="advantages-img-block">
            <picture>
                <source
                    srcset="./img/advantages/advantages-desktopbig.jpg 1x, ./img/advantages/advantages-desktopbig@2x.jpg 2x"
                    media="(min-width: 1440px)" />
                <source
                    srcset="./img/advantages/advantages-desktop.jpg 1x, ./img/advantages/advantages-desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./img/advantages/advantages-tablet.jpg 1x, ./img/advantages/advantages-tablet@2x.jpg 2x"
                    media="(min-width: 768px)" />
                <source srcset="./img/advantages/advantages-mob.jpg 1x, ./img/advantages/advantages-mob@2x.jpg 2x"
                    media="(max-width: 767px)" />

                <img class="advantages-img" src="./img/advantages/advantages-mob.jpg" alt="">
            </picture>
        </div>
    </div>

</section>