<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="" class="logo">yachtjet</a>
      <ul class="header-menu">
        <li class="harder-menu-item">
          <a href="#about" class="header-menu-link">About</a>
        </li>
        <li class="harder-menu-item">
          <a href="#yachts" class="header-menu-link">Yachts</a>
        </li>
        <li class="harder-menu-item">
          <a href="#reviews" class="header-menu-link">Reviews</a>
        </li>
      </ul>
      <ul class="menu-social-list">
        <li class="menu-social-list-itm">
          <a href="" class="menu-social-link">
            <svg width="24" height="24" class="menu-social-icon">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-list-itm">
          <a href="" class="menu-social-link">
            <svg width="24" height="24" class="menu-social-icon">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-list-itm">
          <a href="" class="menu-social-link">
            <svg width="24" height="24" class="menu-social-icon">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="burger-button" id="open_menu">
        <svg class="burger-icon" width="20" height="20">
          <use id="burger-icon" href="./img/icons.svg#burger"></use>
          <!--<use href="./img/icons.svg#btn-close"></use>-->
        </svg>
      </button>
    </nav>
  </div>
</header>
