<section class="mobile-menu" id="modal_menu">
  <div class="container">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li>
          <a class="mobile-menu-nav-list-item-link" href="#about-us">About</a>
        </li>
        <li>
          <a class="mobile-menu-nav-list-item-link" href="#our-yachts">Yachts</a>
        </li>
        <li>
          <a class="mobile-menu-nav-list-item-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-social-list">
      <li class="menu-social-list-itm">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="menu-social-link">
          <svg width="24" height="24" class="menu-social-icon">
            <use href="/img/sprite.svg#icon-instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-itm">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="menu-social-link">
          <svg width="24" height="24" class="menu-social-icon">
            <use href="/img/sprite.svg#icon-youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-itm">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="menu-social-link">
          <svg width="24" height="24" class="menu-social-icon">
            <use href="/img/sprite.svg#icon-facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
