<section class="section-our-yachts" id="our-yachts">
  <div class="container">
    <h2 class="title-our-yachts">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <div class="our-yachts-item-img">
          <img
            srcset="/img/our-yachts/arrow-yacht.jpg 1x, /img/our-yachts/arrow-yacht@2x.jpg 2x"
            src="/img/our-yachts/arrow-yacht.jpg"
            alt="photo yacht arrow"
            width="360"
            height="268"
            class="our-yachts-img"
          />
          <div class="container-text">
            <p class="our-yachts-item-descr">ARROW</p>
            <p class="our-yachts-item-descr-accent">LUXURY YAHTS</p>
          </div>
          <div class="container-details">
            <ul class="details-list">
              <li class="details-list-cont">
                <ul class="details-ul">
                  <li class="details-item">LENGTH</li>
                  <li class="details-item">BUILDER</li>
                  <li class="details-item">BUILT</li>
                  <li class="details-item">GUESTS</li>
                  <li class="details-item">PRICE</li>
                </ul>
              </li>
              <li class="details-list-cont">
                <ul class="details-ul">
                  <li class="details-item-accent">48m(155ft)</li>
                  <li class="details-item-accent">Admiral</li>
                  <li class="details-item-accent">2021</li>
                  <li class="details-item-accent">11 in 5 cabins</li>
                  <li class="details-item-accent">€33,500,000</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="our-yachts-item yacht-benetti">
        <div class="our-yachts-item-img">
          <img
            srcset="/img/our-yachts/benetti-oasis-yacht.jpg 1x, /img/our-yachts/benetti-oasis-yacht@2x.jpg 2x"
            src="/img/our-yachts/benetti-oasis-yacht.jpg"
            alt="photo yacht benetti oasis"
            width="360"
            height="268"
            class="our-yachts-img"
          />
          <div class="container-text">
            <p class="our-yachts-item-descr">BENETTI OASIS 40M BO122</p>
            <p class="our-yachts-item-descr-accent">LUXURY YAHTS</p>
          </div>
          <div class="container-details">
            <ul class="details-list">
              <li class="details-list-cont">
                <ul>
                  <li class="details-item">LENGTH</li>
                  <li class="details-item">BUILDER</li>
                  <li class="details-item">BUILT</li>
                  <li class="details-item">GUESTS</li>
                  <li class="details-item">PRICE</li>
                </ul>
              </li>
              <li class="details-list-cont">
                <ul>
                  <li class="details-item-accent">41m(133ft)</li>
                  <li class="details-item-accent">Benetti</li>
                  <li class="details-item-accent">2025</li>
                  <li class="details-item-accent">10 in 5 cabins</li>
                  <li class="details-item-accent">€23,210,000</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="our-yachts-item yacht-belle">
        <div class="our-yachts-item-img">
          <img
            srcset="/img/our-yachts/belle-anna-yacht.jpg 1x, /img/our-yachts/belle-anna-yacht@2x.jpg 2x"
            src="/img/our-yachts/belle-anna-yacht.jpg"
            alt="photo yacht belle anna"
            width="360"
            height="268"
            class="our-yachts-img"
          />
          <div class="container-text">
            <p class="our-yachts-item-descr">BELLE ANNA</p>
            <p class="our-yachts-item-descr-accent">LUXURY YAHTS</p>
          </div>
          <div class="container-details">
            <ul class="details-list">
              <li class="details-list-cont">
                <ul>
                  <li class="details-item">LENGTH</li>
                  <li class="details-item">BUILDER</li>
                  <li class="details-item">BUILT</li>
                  <li class="details-item">GUESTS</li>
                  <li class="details-item">PRICE</li>
                </ul>
              </li>
              <li class="details-list-cont">
                <ul>
                  <li class="details-item-accent">50m(155ft)</li>
                  <li class="details-item-accent">ISA</li>
                  <li class="details-item-accent">2012</li>
                  <li class="details-item-accent">12 in 6 cabins</li>
                  <li class="details-item-accent">€21,000,000</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <div class="rent-btn"><a href="#rent-a-jacht" class="btn-our-yachts">Yacht rental</a></div>
  </div>
</section>
