<section class="reviews">
  <div class="container reviews-container">
    <div class="reviews-title-container">
      <h2 class="reviews-title">
        YachtJet take pride in providing the best possible service and experience to our customers
      </h2>
      <p class="reviews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find
        out what they have to say about their journey with us.
      </p>
    </div>
    <div class="reviews-block">
      <ul class="reviews-block-list">
        <li class="reviews-block-item">
          <picture>
            <source srcset="./img/reviews-imgs/john-wax.jpg 1x, ./img/reviews-imgs/john-wax@2x.jpg 2x" />
            <img class="reviews-images" src="/img/reviews-imgs/john-wax.jpg" alt="John Wax" width="56"
          /></picture>
          <h3 class="reviews-block-title">John Wax</h3>
          <p class="reviews-block-text">
            I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was
            spacious, comfortable, and luxurious, and the crew took care of everything.
          </p>
        </li>
        <li class="reviews-block-item rbi2">
          <picture>
            <source
              srcset="./img/reviews-imgs/victoria-romashenko.jpg 1x, ./img/reviews-imgs/victoria-romashenko@2x.jpg 2x" />
            <img
              class="reviews-images"
              src="/img/reviews-imgs/victoria-romashenko.jpg"
              alt="Victoria Romashenko"
              width="56"
          /></picture>
          <h3 class="reviews-block-title">Victoria Romashenko</h3>
          <p class="reviews-block-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed,
            with all the amenities we needed, and the crew was attentive and friendly.
          </p>
        </li>
        <li class="reviews-block-item rbi3">
          <picture>
            <source srcset="./img/reviews-imgs/ihor-trachuk.jpg 1x, ./img/reviews-imgs/ihor-trachuk@2x.jpg 2x" />
            <img class="reviews-images" src="/img/reviews-imgs/ihor-trachuk.jpg" alt="Ihor Trachuk" width="56"
          /></picture>
          <h3 class="reviews-block-title">Ihor Trachuk</h3>
          <p class="reviews-block-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the
            outdoor areas were perfect for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
