.about-us {
    min-width: 280px;
    max-width: 335px;
    border-radius: 24px;
    background-color: #fbfbfb;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.about-us-text-cont {
    padding-top: 40px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
}

@media screen and (min-width:350px) {
    .about-us-text-cont {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }
}

.about-us-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    width: 270px;
    margin-bottom: 40px;

}

.about-us-list {
    margin-bottom: 40px;

}

.about-us-items {
    width: 270px;
}

.about-us-first-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    padding-bottom: 20px;


}

.about-us-second-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;

}

.about-us-img {
    padding: 0;
    width: 100%;
    background-size: cover;
    border-radius: 0 24px 0 0;
}

.img-main {
    border-radius: 24px;

}

@media screen and (min-width: 768px) {
    .about-us {
        max-width: 704px;
    }

    .about-us-text-cont {
        padding-top: 50px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 0;
    }

    .about-us-title {

        font-weight: 500;
        font-size: 48px;
        max-width: 536px;
        width: 100%;
        margin-bottom: 50px;
    }

    .about-us-list {
        margin-bottom: 49px;

    }

    .about-us-items {

        width: 389px;

    }

    .about-us-first-text {
        font-size: 23px;
        max-width: 356px;
        width: 100%;
    }


    .about-us-second-text {
        font-size: 13px;
        line-height: 1.15;
        max-width: 356px;
        width: 100%;
    }


    .about-us-img {
        padding: 0;
        max-width: 704px;
        width: 100%;
        background-size: cover;

    }
}

@media screen and (min-width: 1280px) {

    .about-us {
        max-width: 1180px;
    }

    .about-us-text-cont {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0;
        margin-bottom: 100px;

    }

    .about-us-title {
        max-width: 536px;
        margin: 0 auto;



    }

    .about-us-list {

        margin-bottom: 49px;

    }

    .about-us-items {
        max-width: 324px;
    }


    .about-us-img {
        padding: 0;
        max-width: 1180px;
        width: 100%;
        background-size: cover;

    }
}

@media screen and (min-width: 1440px) {
    .about-us {
        max-width: 1340px;

    }

    .about-us-text-cont {
        gap: 299px;
    }

    .about-us-title {
        max-width: 536px;
    }



    .about-us-items {
        max-width: 376px;
    }


    .about-us-img {
        padding: 0;
        max-width: 1340px;
        width: 100%;
        background-size: cover;

    }
}