.advantages .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* #region Content Box */
.advantages-content {
    padding: 80px 20px;
    background-color: #1B414B;
    border-radius: 24px;

    margin: 0 auto;
    width: 100%;
}

.advantages-content-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantages-content-item {
    display: flex;
    flex-direction: column;
    gap: 18px;

    font-family: "Inter", sans-serif;
}

.advantages-number {
    position: relative;

    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;

    padding-bottom: 18px;
}

.advantages-number::after {
    position: absolute;
    bottom: 0;

    content: " ";
    display: block;
    border-radius: 18px;
    width: 100%;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);

}

.advantages-rectangle {
    border-radius: 18px;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
}

.advantages-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #fbfbfb;

    max-width: 238px;

    opacity: 0.8;
}

.advantages-content-item:nth-child(3) .advantages-text,
.advantages-content-item:nth-child(4) .advantages-text {
    max-width: 292px;
}

@media screen and (min-width: 768px) {
    .advantages .container {
        gap: 32px;
    }

    .advantages-content {
        padding: 90px 32px;
    }

    .advantages-content-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
    }

    .advantages-content-item {
        flex-basis: calc((100% - 32px) / 2);
    }

    .advantages-text {
        max-width: 220px;
    }

    .advantages-content-item:nth-child(3) .advantages-text {
        max-width: 285px;

    }

    .advantages-content-item:nth-child(4) .advantages-text {
        max-width: 276px;
    }
}

@media screen and (min-width: 1280px) {
    .advantages .container {
        flex-direction: row;
    }

    .advantages-content {
        max-width: 716px;
        padding: 90px 50px;
    }

    .advantages-content-list {
        column-gap: 44px;
    }

    .advantages-content-item {
        flex-basis: calc((100% - 44px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .advantages-content {
        max-width: 768px;
    }

    .advantages-content-list {
        column-gap: 32px;
    }

    .advantages-content-item {
        flex-basis: calc((100% - 32px) / 2);
    }
}

/* #endregion Content Box */

/* #region IMG Box */
.advantages-img-block {
    border-radius: 24px;
    overflow: hidden;

}

.advantages-img {
    width: 100%;
    height: 100%;
}


/* #endregion IMG Box */