:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #0e1823;
  --text-color: #040306;
  --secondary-color: #1b414b;
  --white-color: #fbfbfb;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #0e1823;
}

/* ця фігня працює лише до 1440 */

@media screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.hidden {
  display: none;
}