.header {
  margin-top: 16px;
  position: relative;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 42px;
  background-color: #FBFBFB;
  padding: 0 20px;
}

/* nav */
.nav-list {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #FBFBFB;
  padding: 12px 25px;
  background-color: #1b414b76;
  border-radius: 8px;
  transition: color 200ms ease-in, background-color 200ms ease-in;
  width: 91px;
  text-align: center;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: #1B414B;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}

/* soc logo*/
.nav-icon {
  max-height: 24px;
}

.nav-icon .icon {
  fill: #1B414B;
}

.nav-icon .icon:hover {
  fill: #062730;
}

/* logo */
.nav-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1B414B;
  transition: color 200ms ease, transform 200ms ease;
}

.nav-logo:hover {
  color: #1B414B;
  transform: scale(1.05);
}

.nav-center,
.nav-right {
  display: none;
}

@media screen and (min-width: 768px) {

  .burger-button,
  .mobile-menu {
    display: none;
    pointer-events: none;
  }

  .header {
    margin-top: 32px;
  }

  .header .container {
    max-width: 768px;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4px 28px;
    height: 48px;
  }

  .nav-right,
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-right {
    gap: 8px;
  }

  .menu-social-list-itm,
  .menu-social-list-itm a {
    display: block;
    margin: 0;
    padding: 0;
  }

  .nav-logo {
    font-size: 14px;
    /*padding: 0 10px;*/
  }

  .nav-list {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .nav-list.open {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .header .container {
    max-width: 1280px;
  }

  .nav {
    padding: 4px 30px;
  }

  .nav-logo {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header .container {
    max-width: 1440px;
  }
}

/* Mobile burger menu button */
.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon {
  fill: #055545;
  stroke: #1B414B;
}