.header {
  margin-top: 16px;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--white-color);
  border-radius: 8px;
  max-width: 335px;
  height: 42px;
  background-color: var(--white-color);
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: var(--secondary-color);
  padding: 8px 0;
  position: relative;
  z-index: 5;
}

.burger-button {
  border: none;
  background-color: transparent;
  padding: 8px 0 8px 8px;
  position: relative;
  z-index: 5;
}

.burger-icon {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.header-menu,
.menu-social-list {
  display: none;
  pointer-events: none;
}