.hero {
margin-bottom: -50px;
}



.hero {padding-top: 250px;
    padding-bottom: 243px;
    background-image: linear-gradient(360deg,
            rgba(17, 19, 31, 0.8) 15.05%,
            rgba(17, 19, 31, 0.8) 75.3%,
            rgba(17, 19, 31, 0.8) 98.27%),
        url(/img/back-image-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    min-height: 800px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url(/img/back-image-mob@2x.jpg);
    }
}

.hero-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
}

.hero-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 38px;
    margin-right: auto;
    margin-left: auto;
}

.hero-link {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 15px;
    padding: 14px 32px;
    width: 141px;
    height: 46px;
    background-color: #1b414b;
}

.hero-link:hover,
.hero-link:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 32px;
        background-image: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url(/img/back-image-tablet.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(360deg,
                    rgba(17, 19, 31, 0.8) 15.05%,
                    rgba(17, 19, 31, 0.8) 75.3%,
                    rgba(17, 19, 31, 0.8) 98.27%),
                url(/img/back-image-tablet@2x.jpg);
        }
    }

    .hero-title {
        font-size: 70px;
        max-width: 630px;
    }

    .hero-text {
        line-height: 1.4;
        font-size: 16px;
        margin-bottom: 48px;
        max-width: 580px;
    }

    .hero-link {
        padding: 16px 40px;
        font-size: 18px;
        line-height: 1.1;
        width: 179px;
        height: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 155px;
        padding-bottom: 180px;
        background-image: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url(/img/back-image-desktop.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(360deg,
                    rgba(17, 19, 31, 0.8) 15.05%,
                    rgba(17, 19, 31, 0.8) 75.3%,
                    rgba(17, 19, 31, 0.8) 98.27%),
                url(/img/back-image-desktop@2x.jpg);
        }
    }

    .hero-title {
        font-size: 80px;
        max-width: 1000px;
    }

    .hero-text {
        max-width: 580px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url(/img/back-image-desktopbig.jpg);
    }

    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(360deg,
                    rgba(17, 19, 31, 0.8) 15.05%,
                    rgba(17, 19, 31, 0.8) 75.3%,
                    rgba(17, 19, 31, 0.8) 98.27%),
                url(/img/back-image-desktopbig@2x.jpg);
        }
    }
}